body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
html {
    scroll-snap-type: y mandatory;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110vh;
    background: linear-gradient(to left top, #040020, #000000, #0D0015);
    /* background: #000; */
    z-index: -1;
}
.star {
    position: absolute;
    border-radius: 100%;
    background: #F9EF95;
    width: 0.25rem;
    height: 0.25rem;
}


#signalDown {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 8rem;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

h2 {
    /* font-size: 3.2rem; */
    font-size: 14vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15vh;
}

.skills {
    padding-top: 0;
}

.checkoutMyStuff {
    margin-bottom: 4px;
}

@media only screen and (min-width: 600px) {
    h2 {
        font-size: 4rem;
        padding-top: 20vh
    }
}

@media only screen and (min-width: 900px) {
    h2 {
        font-size: 5rem;
    }
}

h3 {
    font-size: 2rem;
}

.page_1 {
    overflow: hidden;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
    /* scroll-snap-align: start; */
}

.display_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    display: block;
    height: 25%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (min-width: 600px) {
    .img {
        height: 33%;
    }
}

@media only screen and (min-width: 900px) {
    .img {
        height: 50%;
    }
}

.animate_ping {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    background: #fff;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%, 100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.lax[data-lax-translate-x*=" "] {
    transition: transform ease-out .5s;
  }